<div class="wrapper">
  <div class="main-wrapper">
    <h3>気になるランキング</h3>
    <ul>
      <% @all_ranks.each.with_index(1) do |event, i| %>
        <li class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <div class="rank">
                <div class="rank__num">
                  第<%= i %>位
                </div>
                <div class="rank__num__people">
                  <span class="rank__num__person"><%= event.favorites.count %>人</span>が気になっています
                </div>
              </div>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><%= link_to "#{event.name}", event_path(event.id), class: "interested-event__list--details-event-name" %></p>
              </div>
              <div class="card-action">
                <p>
                  <span class="rank__details">
                    <%= icon 'fas', 'location-arrow' %><%= event.address.place %> <%= event.address.place_building %>
                  </span>
                  <span class="rank__details">
                    <%= icon 'fas', 'calendar-alt' %>
                    <%= event.start.strftime("%Y年%-m月%-d日") %>
                    <% unless event.start == event.end %>
                      〜  <%= event.end.strftime("%Y年%-m月%-d日") %>
                    <% end %>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    
  </div>
</div>
