<footer>
  <ul>
    <li class="footer-list">
      <%= link_to "#", class: "now-event" do %>
        <%= icon 'fas', 'location-arrow', class: "now-event" %>
      <% end %>
    </li>
    <li class="footer-list footer-list__center">
      <%= icon 'fas', 'search', class: "search js-modal-open" %>
      <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            
        </div>
      </div>
    </li>
    <li class="footer-list">
      <%= link_to "#", class: "my-page" do %>
        <%= icon 'fas', 'user', class: "mypage" %>
      <% end %>
    </li>
  </ul>
</footer>