<footer>
  <ul>
    <li class="footer-list js-modal-open1">
      <%= link_to "#", class: "now-event" do %>
        <%= icon 'fas', 'location-arrow', class: "now-event__icon" %>
        <%# 場所検索 %>
        <div class="modal js-modal1">
          <div class="modal__bg js-modal-close1"></div>
          <div class="modal__content">
              <!-- 地名入力用のinputを追加 -->
              <input id="address" type="textbox" value="Sydney, NSW">
              <!-- buttonをクリックしたらcodeAddressを実行 -->
              <input type="button" value="Encode" onclick="codeAddress()">
          </div>
        </div>
      <% end %>
    </li>
    <li class="footer-list footer-list__center js-modal-open">
      <%= icon 'fas', 'search', class: "search" %>
      <%# 簡単検索 %>
      <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
          検索する条件を追加
          <%= search_form_for @search do |f| %>
            <%= f.label :end_on, '期間' %>
            <%= f.date_field :end_gteq, include_blank: true, class: "search-form__element search-form__data-field search-form__start" %> 〜　
            <%= f.date_field :start_lteq, include_blank: true, class: "search-form__element search-form__data-field search-form__end" %>　　
            <%= f.submit '検索', class: "search-form__element search-form__submit" %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="footer-list">
      <% if user_signed_in? %>
        <%= link_to "/user/#{current_user.id}", class: "my-page" do %>
          <%= icon 'fas', 'user', class: "my-page__icon" %>
          <%# マイページ %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "my-page" do %>
          <%= icon 'fas', 'user', class: "my-page__icon" %>
          <%# マイページ %>
        <% end %>
      <% end %>
    </li>
  </ul>
</footer>