<!DOCTYPE html>
<html>
  <head>
    <title>北海道Walker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    
  </head>

  <body>
    
    <%= render partial: 'layouts/header' %>

    <%= yield %>

    <%= render partial: 'layouts/footer' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>

  </body>
</html>
